tags
ObsidianRnDVault/*
!ObsidianRnDVault/.obsidian
ObsidianRnDVault/.obsidian/todoist-token
ObsidianRnDVault/.trash
!ObsidianRnDVault/Archive
!ObsidianRnDVault/Areas
!ObsidianRnDVault/Attachments
ObsidianRnDVault/Development
!ObsidianRnDVault/Home
!ObsidianRnDVault/Inbox
!ObsidianRnDVault/Journal
ObsidianRnDVault/Journal/Daily/*
ObsidianRnDVault/Journal/Weekly/*
ObsidianRnDVault/Journal/Yearly/*
!ObsidianRnDVault/Personal
!ObsidianRnDVault/Planning
ObsidianRnDVault/Planning/Todoist.md
!ObsidianRnDVault/Publish
!ObsidianRnDVault/System
ObsidianRnDVault/System/Docs
ObsidianRnDVault/System/Scripts/secrets
ObsidianRnDVault/System/storage/excalibrain.md
ObsidianRnDVault/System/storage/mood-tracker-data.json
ObsidianRnDVault/System/typing
!ObsidianRnDVault/Tags
!ObsidianRnDVault/Shared Tech
ObsidianRnDVault/Tech
!ObsidianRnDVault/Work

# Test files should not be synced
**/*-work*
**/*-rnd*
**/*-home*

# Never remove
# Never forget
**/*token*
**/*secrets*
# I will hunt you down


desktop.ini
