body.theme-dark.css-settings-manager {
	--icon-color: #9c7398;
	--icon-color-hover: #ac7fb2;
	--icon-color-active: #8e4383;
	--icon-color-focused: #87297;
}

.obsidian .appearance {
	accent-color: #7ec2d3;
}
